<ul>
  <li *ngFor="let ev of events">
    <!--<img src="{{ valamienvaltozom }}">-->
    <img src="{{ev.pic}}" alt="" width="50px" height="50px">
    {{ ev.name }}

    <button (click)="delete(ev.id)">Remove</button>
  </li>
</ul>

<div>
  <label for="eventname">Uj esemeny neve:</label>
  <input type="text" #newEventNameInput id="eventname">
</div>
<br>
<div>
  <label for="eventpic">Uj esemenyhez tartozo kep URL:</label>
  <input type="text" #newEventPicInput id="eventpic">
  <button (click)="add(newEventNameInput, newEventPicInput)">Save</button>
</div>

<pre>
  {{ events | json }}


</pre>
